<div style="width: 90%;padding: 5%;">
    <span style="display: flex;flex-direction: column;">
        <mat-toolbar color="accent">
            <span style="cursor: pointer;">
                <mat-icon>person</mat-icon>&nbsp;
                <span>{{user}}</span>
            </span>
            <span class="spacer"></span>
            <span style="cursor: pointer;">
                <mat-icon>more_vert</mat-icon>&nbsp;
            </span>
        </mat-toolbar>
        <span>
            <app-texts></app-texts>
        </span>
        <span style="display: flex;flex-direction: row;">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Message" required>
                <mat-icon matSuffix>send</mat-icon>
            </mat-form-field>
        </span>
    </span>
</div>