<mat-toolbar class="toolbar-title" color="primary">
  <span style="cursor: pointer;" (click)="goHome()">
    <mat-icon >forum</mat-icon>&nbsp;
    <span>Chat App</span>
  </span>
  <span class="spacer"></span>
  <h5>{{username==""?"":"Hi, "}} {{username==""?"":username}}{{username==""?"":"!"}}</h5>&nbsp;
  <button mat-flat-button [color]='isLoggedin?"warn":"primary"' (click)="login()">{{isLoggedin?"Logout":"Login/Sign up"}}</button>
</mat-toolbar>
<span class="router-wrapper">
  <router-outlet></router-outlet>
</span>